@import "tailwindcss";

@theme {
  --color-primary: rgb(10, 124, 104);
  --color-secondary: rgb(200, 232, 227);
  --color-foreground-light: rgb(249, 248, 244);
}

:root {
  --background: #ffffff;
  --foreground: oklch(14.5% 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans, sans-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
